/* PROJECT CREATED BY 

 Luke Dujmic

 Veronica Tisdel

 */

@font-face{
    font-family: "dragon";
    src: url("Fonts/Exodus-PersonalUse-Regular.otf"); 
    src: url("Fonts/Exodus-PersonalUse-Regular.otf") format(opentype);
}

body{
    background-image: url("../images/background.jpg");
}



table#L1
{
    border: black solid 15px;
    border-collapse: collapse;

    margin-right: auto;
    margin-left: auto;
}

table#L2
{
    border: rgb(61, 26, 9) solid 15px;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

table#L3
{
    border: rgb(0, 0, 0) solid 15px;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

p
{
    text-align: center;
    font-size: 2em;
    font-family: 'dragon';
}

div > p
{
    text-align: center;
    font-size: 2em;
    font-family: 'dragon';
    margin: 0;
    position: fixed;
}
div.time
{
    width: 150px; 
    background-color: black;
    color: red;
    border: gray solid 3px;
    border-radius: 15px;
    font-family: monospace;
    padding-left: 20px;
    margin: auto;
    height: 40px;
    position: fixed;
    margin-top: 140px;
}

div.time > a 
{
    font-size: 2.5em;
    
}

div#lifeDisplay
{
    background-color: black;
    color: white;
    font-family: monospace;
    border: blue 2px solid;
    margin: auto;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 2.75em;
    margin-top: 190px;
    position: fixed;
}

div#scoreDisplay
{
    background-color: black;
    color: white;
    font-family: monospace;
    border: blue 2px solid;
    text-align: center;
    width: 225px;
    height: 50px;
    font-size: 2.75em;
    position: fixed;
    margin-top: 250px;
}

div#coinDisplay
{
    background-color: black;
    color: white;
    font-family: monospace;
    border: blue 2px solid;
    text-align: center;
    width: 225px;
    height: 50px;
    font-size: 2.75em;
    position: fixed;
    margin-top: 310px;
}

#L1 td
{
    width: 64px;
    height: 64px;
    border: 2px black solid;
    transition: 0.5s;
    border: inherit;
}

#L2 td
{
    width: 32px;
    height: 32px;
    border: 2px rgb(114, 47, 8) solid;
    transition: 0.1s;
    border: inherit;
    
}

#L3 td
{
    width: 14px;
    height: 14px;
    border: 1px rgb(0, 0, 0) solid;
    transition: 0.1s;
    border: inherit;
}

td.block
{
    background-color: black;
}

td.path
{
    background-color: beige;
    
}

td.obstacle
{
    background-color: red;
}

td.finish
{
    background-color: green;
}

td.player
{
    background-color: orange;
}

td.invisObstacle
{
    background-color: beige;
    transition: 0.2s;
}
td.invisObstacle > img
{
    opacity: 0;
}

td.movingObstacle
{
    background-color: rgb(82, 137, 255);
    transition: 0.2s;
}

td.invisObstacle:hover
{
    background-color: red;
    transition: 0.2s;
}
td.invisObstacle:hover > img
{
    opacity: 1;
}

td.invisPath
{
    background-color: black;
    transition: 0.25s;
}

td.invisPath:hover
{
    background-color: beige;
    transition: 0.25s;
}

td.coin
{
    background-color: rgb(235, 255, 59);
    margin: 0px;
    padding: 0px;

}

#gameInfo
{
    position: fixed;

}

button
{
    width: 100px;
    color: red;
    border: red solid 2px;
    border-radius: 5px;

    position: fixed;
    margin-top: 50px;
}

button#L1BUTTON
{
    margin-left: 10px;
}

button#L2BUTTON
{
    margin-left: 10px;
    margin-top: 80px;
}

button#L3BUTTON
{
    margin-left: 10px;
    margin-top: 110px;
}




#P0-0 img{
    width: 64px;
    height: 64px;
}

.head{
    color: red;
    
    font-size: 50px;
    text-align:center;
    font-family: "dragon";
}
.keey{
    width:260px;
    background-color:white;
    z-index:1;
    position: -webkit-absolute;
    position: absolute;
    right: 3px;

}
.keey table{
    border-collapse: collapse;
    border: 2px solid red;
    width: 132px;
    height: 80px;
}

.keey  img{
    width: 128px;
    height: 80px;
    
}
.keey table tr th{
    width: 128px;
}
.keey table tr td{
    border: 2px solid red;
    width:200px;
    height: 128px;
    font-size: 10px;
    
}
                          

#whens{
    z-index: 2;
    width: 45%;
    position: relative;
    left: 30%;
    top: 50%;
    transition: all 3s ease-in;
    display: block;
    border: black solid 5px;
    border-radius: 10px;
    opacity: 0;
}