body > div
{
    position: relative;
    height: 50px;
    border-radius: 10px;
    border: gray solid 5px;
    background-color: black;
    margin-bottom: 10px;
    color: red;
    font-size: 2em;
    font-family: monospace;
    width: 125px;
}

table
{
    border: black solid 15px;
    border-collapse: collapse;
}


td
{
    width: 64px;
    height: 64px;
    border: 2px black solid;
}

td[name="block"]
{
    background-color: black;
}

td[name="path"]
{
    background-color: beige;
}

td[name="obstacle"]
{
    background-color: red;
}

td[name="finish"]
{
    background-color: green;
}

td[name="player"]
{
    background-color: orange;
}